<h1>Editing friend</h1>

<%= render "form", friend: @friend %>

<br/>

<div>
<%= link_to 'Show', @friend, class:"btn btn-secondary" %> |
</div>
<div style="margin-top: -38px; margin-left: 75px;">
<%= button_to 'Delete', @friend, method: :delete,  form: { data: { turbo_confirm: "Are you sure?" } }, class: "btn btn-danger" %>
</div>
<div style="margin-top: -38px; margin-left: 150px;">
| <%= link_to 'Back', friends_path, class:"btn btn-dark" %>
</div>
<!-- <br>

<div>
  <%= link_to "Show this friend", @friend, class: "btn btn-info"%> |
  <%= link_to "Back to friends", friends_path, class: "btn btn-warning" %>
</div> -->
